body{
    background-color: goldenrod;
    color:#255ADF;
    font-size: 20px;
    font-weight: bold;
}

.topnav{
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img{
    height:200px;
    width:200px;
    border: 5px solid #255ADF;
}

ul{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    padding: 0px;
}

li{
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul::marker{
    list-style: none;
}

.debuttons{
    display: flex;
    flex-direction: row;
}
h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

.buy{
    margin-top: 20px;
    font-size: 15px;
}

.showbuy,
.show,
.main,
h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidebuy,
.hide,
.nostock{
    display: none;
}


